{% extends "website/base.html" %}
{% load static %}

{% block content %}
	<main>
		<div class="inner-sub-header" style="background-image:url(images/team-hdr-img.jpg);">
			<div class="container">
				<h1>
					<small>Drop us a line</small> contact
					<strong>us</strong>
				</h1>
				<div class="breadcrumbs-pk">
					<span class="bc-item">
						<a href="#">Home</a>
					</span>
					<span class="bc-item current">Contact</span>
				</div>
			</div>
		</div>
		<div class="contact-wrapper">
			<div class="container">
				<h2>
					<strong>CONTACT</strong> US</h2>
				<p>Lorem Ipsum is simply has been the industry's stndard dummy text everdummy texto the printing and typesetting everdummy texto industry lorem Ipsum.</p>
				<div class="contact-form">
					<div class="row">
						<div class="col-sm-4 col-xs-12">
							<div class="name">
								<input type="text" placeholder="Name" class="input">
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="email">
								<input type="text" placeholder="Email" class="input">
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="subject">
								<select class="input">
									<option>Select Subject</option>
									<option>Select Subject</option>
									<option>Select Subject</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12 col-xs-12">
							<div class="message">
								<textarea placeholder="Write your message here..." class="input"></textarea>
							</div>
						</div>
					</div>
					<button type="submit" class="btn-submit">Submit Now</button>
				</div>
			</div>
		</div>
		<div class="contact-info-bar">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="address-block">
							<h3>Address</h3>
							<p>25 Rankin Street, Sydney</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 text-center">
						<div class="phone-block">
							<h3>Phone</h3>
							<p>
								<a href="tel:012001005678">01200 100 5678</a>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 text-right">
						<div class="email-block">
							<h3>Email</h3>
							<p>
								<a href="mailto:jhon_doe@email.com">jhon_doe@email.com</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="location-map">
			<div id="map-container"></div>
		</div>
		        <!-- Contact end -->
{% endblock %}